body {
    background-color: #f5f0e8;
    font-family: "Roboto", sans-serif;
    color: #674f04;
}

.primary {
    background-color: #e8d6bb;
    max-width: 500px;
    margin: 30px 20px 30px 20px;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.10);
}

header {
    border-bottom: 2px solid #f5f0e8;
    padding: 5px 0 40px 0;
}

.city-in-search {
    background-color: #f5f0e8;
    width: 80%;
    padding: 10px 15px;
    font-size: 17px;
    border: none;
    border-radius: 7px;
}

.search-city-button {
    background: #f5f0e8;
    color: #674f04;
    padding: 12px 19px;
    width: 35%
    font-size: 19px;
    border: none;
    border-radius: 7px;
    margin-left: 4px;
}

footer {
    border-bottom: 2px solid #f5f0e8;
    padding: 10px 0 70px 0;
    text-align: center;
    font-size: 12px;
}