body {
    background-color: #f5f0e8;
    font-family: "Roboto", sans-serif;
    color: #674f04;
}

a {
    color: #674f04;
}

.primary {
    background-color: #e8d6bb;
    max-width: 500px;
    margin: 30px 20px 30px 20px;
    padding: 20px 15px 10px 15px;
    border-radius: 7px;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.10);
}

header {
    border-bottom: 1px solid #efdcbf;
    padding: 10px 0 20px 0;
}

.city-in-search {
    background-color: #f5f0e8;
    width: 80%;
    padding: 10px 15px;
    font-size: 17px;
    border: none;
    border-radius: 7px;
    color: #998463;
}

.search-city-button {
    background: #f5f0e8;
    color: #674f04;
    padding: 10px 16px;
    font-size: 17px;
    border: none;
    border-radius: 7px;
    margin-left: 4px;
    font-weight: bold;
}

h1 {
    margin: 0;
}

.heading {
    font-size: 50px;
    line-height: 70px;
    color: #674f04;
    padding: 30px 0;
}

.weather-data-details {
    display: flex;
    justify-content: space-between;
}

.weather-forecast-info {
    color: #998463;
    font-size: 17px;
    line-height: 24px;
}

.weather-forecast-info strong {
    color:#674f04;
    font-size: 19px;
    font-weight: 300px;
}

.weather-forecast-icon {
    font-size: 35px;
    margin-right: -50px;
    margin-left: 70px;
    margin-bottom: 10px;
}

.weather-forecast-temp {
    font-size: 50px;
    color: #a28f70;
    line-height: 20px;
    margin-left: 0;
    margin-right: 0;
}

.weather-forecast-unit {
    font-size: 27px;
    color: #826b47;
    line-height: 17px;
    margin-left: -70px;
    margin-right: 120px;
    margin-bottom: 25px;
}

footer {
    border-bottom: 1px solid #efdcbf;
    padding: 10px 0 10px 0;
    text-align: center;
    font-size: 12px;
    color: rgb(165, 147, 117);
}